resources/*
chembl/*
dream_data/
dream_aml.Rproj
.Rproj.user/
.idea/
features/*
outputs/*
metadata/*
dream_data_leaderboard/
.RData
features_validation/*
submission/*

!features/.gitkeep
!metadata/.gitkeep
!features/alex_phenotypes.RData
!features/alex_features.RData
!chembl/.gitkeep
!resources/.gitkeep
!outputs/.gitkeep
