resources/*
chembl/*
dream_data/
dream_aml.Rproj
.Rproj.user/
.idea/
features/*
outputs/*

!features/alex_phenotypes.RData
!features/alex_features.RData
!chembl/.gitkeep
!resources/.gitkeep
!outputs/.gitkeep
